/*Estilos del footer*/
footer{
    background-position: center;
    background-color: #3B5866;
    @include sizes (100%, auto);
    position: static;
    bottom: 0;
    p{
        text-align: left;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}
.logoSec{
    margin: ($size-items * 3);
}
.itemFooter{
    list-style-type: none;
    text-align: right;
    flex-direction: row; 
    .itemF{
        text-align: left;
        margin: $size-items;
        a{
            text-decoration: none;
            padding: ($size-items / 2);
            color: $color-font;
            &:hover{
                color: #3B5866;
                background-color: #6f9eb5;
                border-radius: ($size-items * 2);
            }
        }
    }
}
.icono{
    @include sizes (30px, 30px);
}