/*estilos del Nav*/
header{
    background-color: #3b5866;
}
.logo{
    @include sizes (70px, auto);
    border-radius: 20%;
    margin-right: ($size-items * 4);
}
.menuNav{
    text-decoration: none;
    list-style-type: none;
}
.menuItem{
    font-size: ($size-font / 2);
}
.menuNav {
    .menuItem {
        a{
        color: $color-font;
        text-decoration: none;
        font-weight: bolder;
            &:hover{
                color: #3B5866;
                background-color: #6f9eb5;
                border-radius: ($size-items * 1.5);
            }
        }
    }
}