/*Estilo Index*/
.principal{
    margin-top: ($size-items * 2);
    @include sizes (100%, auto);
}
.imagenFondo{
    background-image: url(../assets/img/fondo.jpeg);
}
.novedadesImagen{
    width: 250px;
    margin-top: ($size-items * 2);
    margin-bottom: $size-items;
}
.imgAnimacion{
    transition:  all, 2s;
    &:hover{
        width: 200px;
        border-radius: ($size-items * 3);
    }
}