/*Estilo Registrar*/
.formRegistrar{
    width: 50%;
}
textarea{
    vertical-align: top;
    height: 5rem;
}
.botonP{
    background-color: #3B5866;
    color: $color-font;
    font-size: ($size-font / 2);
    border-style: none;
    outline-style: none;
}