/*Estilo Registrar*/
.formRegistrar{
    width: 30%;
}
textarea{
    vertical-align: top;
    height: 5rem;
}
.botonP{
    background-color: #3B5866;
    color: #91b3c2;
    font-size: 1rem;
    border-style: none;
    outline-style: none;
}