*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Elementos Generales*/
$color-font: #76B1CC;
$size-font: 2.2rem;
$size-items: 10px;
@mixin sizes($width, $height) {
    height: $height;
    width: $width;
} 

body{
    background-color: rgb(241, 237, 231);
}
@font-face {
    font-family: "Domine";
    src: url(../assets/font/Domine/Domine-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Tangerine";
    src: url(../assets/font/Tangerine/Tangerine-Bold.ttf);
}
h1, h2, h3, h4{
    color: $color-font;
    text-align: center;
    font-family: "Tangerine", cursive;
}
h1{
    font-size: ($size-font * 2);
}
h2{
    font-size: $size-font;
    padding: ($size-items - 2);
    margin: ($size-items - 2);
    font-family: "Domine", sans-serif;
    a{
    text-decoration: none;
    color: $color-font;
    padding: ($size-items * 4);
        &:hover{
        text-decoration: none;
        color: $color-font;
        }
    }
}
h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: ($size-items - 2);
}
@import "header";
@import "index";
@import "footer";
@import "nosotros";
@import "preguntasF";
@import "registrar";
@import "form";
@import "carrito";
