<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="icon" href="../assets/img/favicon.ico">
    <title>Carrito 📚</title>
</head>
<body>
    <header>
        <nav>
            <main class="navbar">
                <div>
                    <div id="top">
                        <img class="logo" src="../assets/img/Logo.jpeg" alt="logo sitio">
                    </div>
                </div>
                <div class="titulo">
                    <h1>Librerarg</h1>
                </div>
                <div>
                    <ul class="menu">
                        <li class="item"><a href="../index.html">Inicio</a></li>
                        <li class="item"><a href="../Views/Novedades.html">Novedades</a></li>
                        <li class="item"><a href="../Views/Registrar.html">Registrarse</a></li>
                        <li class="item"><a href="../views/Carrito.html">Carrito</a></li>
                    </ul>
                </div>
            </main>
        </nav>
    </header>
    <main>
        <div class="carrito">
                <div class="imgCarrito">
                    <img class="carritoImagenes" src="../assets/img/Carrito.png" alt="Carrito">
                </div>
            <div class="total">
                <h3>
                    Total $2268
                </h3>
            </div>
        </div>
    </main>
    <footer>
        <div class="logoSec">
            <img class="logo" src="../assets/img/Logo.jpeg" alt="logo sitio">
        </div>
        <div class="SucFooter">
            <h4>
                Sucursales
            </h4>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem culpa, cumque eaque saepe porro accusamus? Iste minus veniam error enim.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatem culpa, cumque eaque saepe porro accusamus? Iste minus veniam error enim.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem culpa, cumque eaque saepe porro accusamus? Iste minus veniam error enim.
            </p>
        </div>
        <div>
            <ul class="itemFooter">
                <li class="itemF"><a href="../views/Contacto.html">Contacto</a></li>
                <li class="itemF"><a href="../views/Nosotros.html">Sobre Nosotros</a></li>
                <li class="itemF"><a href="../views/PreguntasF.html">Preguntas Frecuentes</a></li>
                <li class="itemF"><a href="../views/Contacto.html">Trabajá con Nosotros</a></li>
            </ul>
        </div>
        <div >
            <img class="icono" src="../assets/img/facebook.png" alt="Facebook">
            <img class="icono" src="../assets/img/instagram.png" alt="Instagram">
            <img class="icono" src="../assets/img/twitter.png" alt="Twitter">
        </div>
    </footer>
</body>
</html>