<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="icon" href="../assets/img/favicon.ico">
    <title>Contacto 📚</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg container-xxl bd-gutter flex-wrap flex-lg-nowrap">
            <div class="container">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/img/Logo.jpeg" alt="logo sitio" class="logo d-inline-block   align-text-top">
                </a>
                <div class="offcanvas-header m-lg-30">
                    <h1>Librerarg</h1>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex flex-wrap flex-lg-nowrap justify-content-end" id="navbarSupportedContent">
                    <ul class="menu navbar-nav menuNav mb-lg-0">
                        <li class="nav-item menuItem">
                            <a class="nav-link" aria-current="page" href="./novedades.html">Novedades</a>
                        </li>
                        <li class="nav-item menuItem">
                            <a class="nav-link" href="./registrar.html">Registrarse</a>
                        </li>
                        <li class="nav-item menuItem">
                            <a class="nav-link" href="./contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item menuItem">
                            <a class="nav-link" href="./carrito.html">Carrito</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <h2>
            <a href="./Contacto.html">Contacto</a>
        </h2>
    </div>
    <main>
        <form class="container-fluid">
            <fieldset class="formRegistrar m-auto">
                <div class="m-2">
                    <label for="name" class="form-label">Nombre y Apellido *</label>
                    <input class="form-control" types="text" id="name" placeholder="Juan Perez" required>
                </div>
                <div class="m-2">
                    <label for="exampleEmail" class="form-label">Email *</label>
                    <input class="form-control" type="email" id="email" placeholder="email@email.com" aria-describedby="emailHelp" required>
                    <div id="emailHelp" class="form-text">Nunca compartiremos tu email ingresado.</div>
                </div>
                <div class="m-2">
                    <label class="form-label" for="respuesta">Mensaje</label>
                    <textarea class="form-control" id="respuesta" rows="3"></textarea>
                </div>
                <div class="button d-md-flex justify-content-md-center mb-2 gap-2 ">
                    <button class="btn botonP" type="submit">Enviar</button>
                    <button class="btn botonP" type="reset">Borrar datos</button>
                </div>
            </fieldset>
        </form>
        <section class="m-5">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit non possimus, velit dolor explicabo cupiditate autem impedit aliquam corporis in sit. Harum repellat id quidem atque natus vitae, consequatur dicta distinctio. Similique repudiandae tempore iure doloremque laboriosam quae facere excepturi tenetur culpa nisi sint, quos dolor illo corporis, voluptates voluptatem et necessitatibus amet porro odio? Magni magnam odio tempore incidunt id repellendus quis a saepe aliquid qui, exercitationem similique! Tempore, placeat atque veniam quod quia iure quam? Blanditiis dolores nisi deserunt aspernatur, numquam impedit maiores inventore repellendus sed tempore delectus placeat voluptatibus molestiae aliquam est repudiandae.
            </p>
            <p>
                Aliquid nemo, cum, excepturi ad rerum quod ex cumque magnam non porro autem minus corporis facilis alias! Eos reprehenderit error est beatae? At tenetur error, velit quisquam officia provident amet nemo placeat soluta odit saepe vero, magnam exercitationem, et iure quos quidem animi eveniet! Reiciendis nam perspiciatis ipsam fugit iusto quasi sequi, maxime labore ullam suscipit ducimus quaerat aperiam animi inventore, libero est. Suscipit nulla aspernatur accusamus reprehenderit ducimus illo vero natus, soluta quam eveniet ab iusto magni, distinctio culpa reiciendis sit? Praesentium nihil, sint labore adipisci omnis vel similique.
            </p>
        </section>
    </main>
    <footer class="container-fluid d-flex flex-wrap justify-content-between align-items-center">
        <div class="row">
            <div class="col-2">
                <a class="navbar-brand d-flex justify-content-center" href="../index.html">
                    <img class="logo logoSec d-inline-block align-items-center" src="../assets/img/Logo.jpeg" alt="logo sitio">
                </a>
            </div>
            <div class="col-6">
                <div>
                    <h3>
                        Sucursales
                    </h3>
                </div>
                <div>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem culpa, cumque eaque saepe porro accusamus? Iste minus veniam error enim.
                    </p>
                </div>
            </div>
            <div class="col-3 justify-content-right">
                <ul class="itemFooter">
                    <li class="itemF"><a href="./contacto.html">Contacto</a></li>
                    <li class="itemF"><a href="./nosotros.html">Sobre Nosotros</a></li>
                    <li class="itemF"><a href="./preguntasF.html">Preguntas Frecuentes</a></li>
                    <li class="itemF"><a href="./contacto.html">Trabajá con Nosotros</a></li>
                </ul>
            </div>
            <div class="col-1 d-flex justify-content-right">
                <div class="col-12">
                    <img class="icono" src="../assets/img/facebook.png" alt="Facebook">
                    <img class="icono" src="../assets/img/instagram.png" alt="Instagram">
                    <img class="icono" src="../assets/img/twitter.png" alt="Twitter">
                </div>
            </div>
        </div>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
