<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="icon" href="../assets/img/favicon.ico">
    <title>Preguntas Frecuentes 📚</title>
</head>
<body>
    <header>
        <nav>
            <main class="navbar">
                <div>
                    <div id="top">
                        <img class="logo" src="../assets/img/Logo.jpeg" alt="logo sitio">
                    </div>
                </div>
                <div class="titulo">
                    <h1>Librerarg</h1>
                </div>
                <div>
                    <ul class="menu">
                        <li class="item"><a href="../index.html">Inicio</a></li>
                        <li class="item"><a href="../Views/Novedades.html">Novedades</a></li>
                        <li class="item"><a href="../Views/Registrar.html">Registrarse</a></li>
                        <li class="item"><a href="../views/Carrito.html">Carrito</a></li>
                    </ul>
                </div>
            </main>
        </nav>
    </header>
    <div>
        <h3>
            <a href="./PreguntasF.html">Preguntas Frecuentes</a>
        </h3>
    </div>
    <div class="sectorPF">
        <div class="sectionImagenPF">
            <div>
                <img src="../assets/img/pregFrecuentes1.jpeg" alt="Imagen Preguntas Frecuentes 1">
            </div>
            <div>
                <img src="../assets/img/pregFrecuentes2.jpeg" alt="Imagen Preguntas Frecuentes 2">
            </div>
            <div>
                <img src="../assets/img/pregFrecuentes3.jpeg" alt="Imagen Preguntas Frecuentes 3">
            </div>
        </div>
        <div class="sectionPF">
            <div>
                <h4>
                    Costos de Envío
                </h4>
            </div>
            <div class="pregFrecP">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, deleniti labore? Fuga maxime odit, sapiente illo, autem nesciunt, quas accusamus rerum magnam quia temporibus! Reprehenderit blanditiis deserunt sunt repellat harum.
                </p>
            </div>
            <div>
                <h4>
                    Locales
                </h4>
            </div>
            <div class="pregFrecP">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, deleniti labore? Fuga maxime odit, sapiente illo, autem nesciunt, quas accusamus rerum magnam quia temporibus! Reprehenderit blanditiis deserunt sunt repellat harum.
                </p>
            </div>
            <div>
                <h4>
                    Días y Horarios de Atención
                </h4>
            </div>
            <div class="pregFrecP">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, deleniti labore? Fuga maxime odit, sapiente illo, autem nesciunt, quas accusamus rerum magnam quia temporibus! Reprehenderit blanditiis deserunt sunt repellat harum.
                </p>
            </div>
            <div>
                <h4>
                    Meedios de Pago
                </h4>
            </div>
            <div class="pregFrecP">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, deleniti labore? Fuga maxime odit, sapiente illo, autem nesciunt, quas accusamus rerum magnam quia temporibus! Reprehenderit blanditiis deserunt sunt repellat harum.
                </p>
            </div>
            <div>
                <h4>
                    Devolución
                </h4>
            </div>
            <div class="pregFrecP">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, deleniti labore? Fuga maxime odit, sapiente illo, autem nesciunt, quas accusamus rerum magnam quia temporibus! Reprehenderit blanditiis deserunt sunt repellat harum.
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="logoSec">
            <img class="logo" src="../assets/img/Logo.jpeg" alt="logo sitio">
        </div>
        <div class="SucFooter">
            <h4>
                Sucursales
            </h4>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem culpa, cumque eaque saepe porro accusamus? Iste minus veniam error enim.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatem culpa, cumque eaque saepe porro accusamus? Iste minus veniam error enim.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem culpa, cumque eaque saepe porro accusamus? Iste minus veniam error enim.
            </p>
        </div>
        <div>
            <ul class="itemFooter">
                <li class="itemF"><a href="../views/Contacto.html">Contacto</a></li>
                <li class="itemF"><a href="../views/Nosotros.html">Sobre Nosotros</a></li>
                <li class="itemF"><a href="../views/PreguntasF.html">Preguntas Frecuentes</a></li>
                <li class="itemF"><a href="../views/Contacto.html">Trabajá con Nosotros</a></li>
            </ul>
        </div>
        <div >
            <img class="icono" src="../assets/img/facebook.png" alt="Facebook">
            <img class="icono" src="../assets/img/instagram.png" alt="Instagram">
            <img class="icono" src="../assets/img/twitter.png" alt="Twitter">
        </div>
    </footer>
</body>
</html>
