<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="icon" href="../assets/img/favicon.ico">
    <title>Registrarse 📚</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg container-xxl bd-gutter flex-wrap flex-lg-nowrap">
            <div class="container-fluid">
                <div class="col-lg-3 col-sm-1">
                    <a class="navbar-brand" href="./index.html">
                         <img src="../assets/img/Logo.jpeg" alt="logo     sitio" class="logo d-inline-block   align-text-top">
                    </a>
                </div>
                <div class="offcanvas-header col-lg-6 col-sm-10 justify-content-center">
                    <h1>Librerarg</h1>
                </div>
                <button class="navbar-toggler col-lg-3 col-sm-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="menu navbar-nav menuNav">
                        <li class="nav-item menuItem">
                            <a class="nav-link" aria-current="page" href="./novedades.html">Novedades</a>
                        </li>
                        <li class="nav-item menuItem">
                            <a class="nav-link" href="./registrar.html">Registrarse</a>
                        </li>
                        <li class="nav-item menuItem">
                            <a class="nav-link" href="./contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item menuItem">
                            <a class="nav-link" href="./carrito.html">Carrito</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div>
            <h3>
                <a href="./Registrar.html">Registrarse</a>
            </h3>
        </div>
        <form action="">
            <fieldset class="formRegistrar">
            <div>
                <label for="name">Nombre y Apellido *</label>
                <input class="input" types="text" name="name" placeholder="Juan" required>
            </div>
            <br>
            <div>
                <label for="email">Email *</label>
                <input class="input" type="email" name="email" placeholder="email@email.com" required>
            </div>
            <br>
            <div>
                <label for="confemail">Confirmar Email *</label>
                <input class="input" type="confemail" name="confemail" placeholder="email@email.com" required>
            </div>
            <br>
            <div>
                <label for="pass">Password *</label>
                <input class="input" type="password" placeholder="Password"  name="pass" required>
            </div>
            <br>
            <div>
                <label for="pass">Confirmar Password *</label>
                <input class="input" type="password" placeholder="Password"  name="pass" required>
            </div>
            <br>
            <div>
                <label for="preg">Pregunta Secreta</label>
                <select name="preg" id="">
                    <option value="1">¿Cuál es tu lugar de nacimiento?</option>
                    <option value="2">Nombre de tu primera mascota</option>
                    <option value="3">¿Cuál es tu hobby favorito?</option>
                    <option value="4">Nombre de tu película favorita</option>
                </select>
            </div>
            <br>
            <div>
                <label for="respuesta">Respuesta</label>
                <textarea name="comentarios" id="" cols="40" rows="1"></textarea>
            </div>
            <br>
            <div>
                <label for="terminos">Acepta terminos y condiciones</label>
                <input class="input" type="checkbox" name="terminos" value="1" required>
            </div>
            <br>
            <div class="button">
                <input class="botonP" type="submit" value="Enviar">
                <input class="botonP" type="reset" value="Borrar datos">
            </div>
        </fieldset>
        </form>
    </main>
    <footer>
        <div class="logoSec">
            <img class="logo" src="../assets/img/Logo.jpeg" alt="logo sitio">
        </div>
        <div class="SucFooter">
            <h4>
                Sucursales
            </h4>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem culpa, cumque eaque saepe porro accusamus? Iste minus veniam error enim.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatem culpa, cumque eaque saepe porro accusamus? Iste minus veniam error enim.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem culpa, cumque eaque saepe porro accusamus? Iste minus veniam error enim.
            </p>
        </div>
        <div>
            <ul class="itemFooter">
                <li class="itemF"><a href="../views/Contacto.html">Contacto</a></li>
                <li class="itemF"><a href="../views/Nosotros.html">Sobre Nosotros</a></li>
                <li class="itemF"><a href="../views/PreguntasF.html">Preguntas Frecuentes</a></li>
                <li class="itemF"><a href="../views/Contacto.html">Trabajá con Nosotros</a></li>
            </ul>
        </div>
        <div >
            <img class="icono" src="../assets/img/facebook.png" alt="Facebook">
            <img class="icono" src="../assets/img/instagram.png" alt="Instagram">
            <img class="icono" src="../assets/img/twitter.png" alt="Twitter">
        </div>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
